@use 'global' as *;

.c-btn {
  font-size: rem(24);
  background-color: var(--color-text);
  color: var(--color-surface);
  padding: rem(10) rem(20);
  border-radius: rem(5);
  text-decoration: none;
  display: inline-block;
  &:hover {
    background-color: var(--color-surface);
    color: var(--color-text);
  }
}
